In [1]:
import pandas as pd

In [2]:
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_5.csv")
df_buses_6=pd.read_csv("df_buses_6.csv")
df_buses_7=pd.read_csv("df_buses_7.csv")
df_buses_8=pd.read_csv("df_buses_8.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 51,Swift Deluxe Non AC Air Bus (2+2),19:00,04:30,09h 30m,INR 640,8 Seats available,4.1\n47,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,03:45,07h 45m,INR 473,4 Seats available,3.9\n79,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1585,Super Express Non AC Seater Air Bus (2+2),20:40,06:10,09h 30m,INR 640,19 Seats available,3.4\n56,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 1586,Super Express Non AC Seater Air Bus (2+2),21:30,06:55,09h 25m,INR 640,15 Seats available,3.7\n34,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:10,07:35,09h 25m,INR 640,14 Seats available,4.1\n20,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2657,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),16:00,04:20,12h 20m,854,19 Seats available,4.7\n657,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2658,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),22:00,07:45,09h 45m,949,14 Seats available,4.6\n930,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2659,Zingbus Plus,Volvo 9600 A/C Semi Sleeper (2+2),21:00,08:10,11h 10m,642,17 Seats available,4.8\n228,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2660,AdIntrCity SmartBus,Volvo 9600 A/C Semi Sleeper (2+2),18:15,06:00,11h 45m,INR 748,28 Seats available,4.6\n333,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2661,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),21:00,08:00,11h 00m,1092,25 Seats available,4.6\n725,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi

In [5]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2662 entries, 0 to 2661
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2662 non-null   object
 1   Bus_type         2662 non-null   object
 2   Start_time       2662 non-null   object
 3   End_time         2662 non-null   object
 4   Total_duration   2662 non-null   object
 5   Price            2662 non-null   object
 6   Seats_Available  2662 non-null   object
 7   Ratings          2662 non-null   object
 8   Route_link       2662 non-null   object
 9   Route_name       2662 non-null   object
dtypes: object(10)
memory usage: 208.1+ KB

In [17]:
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(int)
Final_df["Price"].fillna(0)

ValueError: invalid literal for int() with base 10: ' 899.11'

In [21]:
Final_df["Price"] = Final_df["Price"].str.replace("INR", "", regex=False)
Final_df["Price"] = Final_df["Price"].str.replace(",", "", regex=False)  # Remove commas if present

# Convert to numeric, handling any non-convertible values
Final_df["Price"] = pd.to_numeric(Final_df["Price"], errors='coerce').fillna(0).astype(int)

In [23]:
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 51,Swift Deluxe Non AC Air Bus (2+2),19:00,04:30,09h 30m,640,8 Seats available,4.1\n47,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,03:45,07h 45m,473,4 Seats available,3.9\n79,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1585,Super Express Non AC Seater Air Bus (2+2),20:40,06:10,09h 30m,640,19 Seats available,3.4\n56,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 1586,Super Express Non AC Seater Air Bus (2+2),21:30,06:55,09h 25m,640,15 Seats available,3.7\n34,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:10,07:35,09h 25m,640,14 Seats available,4.1\n20,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2657,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),16:00,04:20,12h 20m,854,19 Seats available,4.7\n657,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2658,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),22:00,07:45,09h 45m,949,14 Seats available,4.6\n930,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2659,Zingbus Plus,Volvo 9600 A/C Semi Sleeper (2+2),21:00,08:10,11h 10m,642,17 Seats available,4.8\n228,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2660,AdIntrCity SmartBus,Volvo 9600 A/C Semi Sleeper (2+2),18:15,06:00,11h 45m,748,28 Seats available,4.6\n333,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2661,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),21:00,08:00,11h 00m,1092,25 Seats available,4.6\n725,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi

In [25]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2662 entries, 0 to 2661
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2662 non-null   object
 1   Bus_type         2662 non-null   object
 2   Start_time       2662 non-null   object
 3   End_time         2662 non-null   object
 4   Total_duration   2662 non-null   object
 5   Price            2662 non-null   int32
 6   Seats_Available  2662 non-null   object
 7   Ratings          2662 non-null   object
 8   Route_link       2662 non-null   object
 9   Route_name       2662 non-null   object
dtypes: int32(1), object(9)
memory usage: 197.7+ KB

In [27]:
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"]=pd.to_numeric(Final_df["Ratings"],errors='coerce')
Final_df["Ratings"].fillna(0)

0       4.1
1       3.9
2       3.4
3       3.7
4       4.1
       ...
2657    4.7
2658    4.6
2659    4.8
2660    4.6
2661    4.6
Name: Ratings, Length: 2662, dtype: float64

In [29]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2662 entries, 0 to 2661
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2662 non-null   object
 1   Bus_type         2662 non-null   object
 2   Start_time       2662 non-null   object
 3   End_time         2662 non-null   object
 4   Total_duration   2662 non-null   object
 5   Price            2662 non-null   int32
 6   Seats_Available  2662 non-null   object
 7   Ratings          2640 non-null   float64
 8   Route_link       2662 non-null   object
 9   Route_name       2662 non-null   object
dtypes: float64(1), int32(1), object(8)
memory usage: 197.7+ KB

In [31]:
import numpy as np
Final_df= Final_df.replace({np.nan: None})

In [33]:
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 51,Swift Deluxe Non AC Air Bus (2+2),19:00,04:30,09h 30m,640,8 Seats available,4.1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,03:45,07h 45m,473,4 Seats available,3.9,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1585,Super Express Non AC Seater Air Bus (2+2),20:40,06:10,09h 30m,640,19 Seats available,3.4,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 1586,Super Express Non AC Seater Air Bus (2+2),21:30,06:55,09h 25m,640,15 Seats available,3.7,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:10,07:35,09h 25m,640,14 Seats available,4.1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2657,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),16:00,04:20,12h 20m,854,19 Seats available,4.7,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2658,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),22:00,07:45,09h 45m,949,14 Seats available,4.6,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2659,Zingbus Plus,Volvo 9600 A/C Semi Sleeper (2+2),21:00,08:10,11h 10m,642,17 Seats available,4.8,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2660,AdIntrCity SmartBus,Volvo 9600 A/C Semi Sleeper (2+2),18:15,06:00,11h 45m,748,28 Seats available,4.6,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2661,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),21:00,08:00,11h 00m,1092,25 Seats available,4.6,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi

In [35]:
path="Final_df.csv"
df=Final_df.to_csv(path,index=False)

In [37]:
import pandas as pd
FX=pd.read_csv("Final_df.csv")
FX

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 51,Swift Deluxe Non AC Air Bus (2+2),19:00,04:30,09h 30m,640,8 Seats available,4.1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,03:45,07h 45m,473,4 Seats available,3.9,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1585,Super Express Non AC Seater Air Bus (2+2),20:40,06:10,09h 30m,640,19 Seats available,3.4,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 1586,Super Express Non AC Seater Air Bus (2+2),21:30,06:55,09h 25m,640,15 Seats available,3.7,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:10,07:35,09h 25m,640,14 Seats available,4.1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2657,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),16:00,04:20,12h 20m,854,19 Seats available,4.7,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2658,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),22:00,07:45,09h 45m,949,14 Seats available,4.6,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2659,Zingbus Plus,Volvo 9600 A/C Semi Sleeper (2+2),21:00,08:10,11h 10m,642,17 Seats available,4.8,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2660,AdIntrCity SmartBus,Volvo 9600 A/C Semi Sleeper (2+2),18:15,06:00,11h 45m,748,28 Seats available,4.6,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi
2661,Laxmi holidays,Volvo 9600 A/C Semi Sleeper (2+2),21:00,08:00,11h 00m,1092,25 Seats available,4.6,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi

In [39]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sridhar\anaconda3\lib\site-packages (9.0.0)

In [40]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
)

In [41]:
mydb

In [42]:
mycursor=mydb.cursor(buffered=True)

In [43]:
mycursor.execute("Show databases")
for x in mycursor:
    print(x)

('information_schema',)
('mdt37',)
('mdt38',)
('mdt39',)
('mdt42',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('redbus_details',)
('sri39',)
('test',)

In [49]:
mycursor.execute("Use redbus_details")

In [55]:
mycursor.execute('''Create Table bus_details( 
                 ID INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
                 Bus_name VARCHAR(255),
                 Bus_type VARCHAR(255),
                 Start_time VARCHAR(255),
                 End_time VARCHAR(255),
                 Total_duration VARCHAR(255),
                 Price INT,
                 Seats_Available VARCHAR(255),
                 Ratings Float,
                 Route_link VARCHAR(255),
                 Route_name VARCHAR(255)
                 )''')
print("Table Created successfully")

Table Created successfully

In [57]:
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data= Final_df.values.tolist()

mycursor.executemany(insert_query,data)

mydb.commit()

print("Values inserted successfully")

Values inserted successfully